<div class="footer">
    <div class="pull-right">
        Michael A.
    </div>
    <div>
        <strong>Copyright</strong> 
        Civil Aviation Authority of the Philippines |
        Airmen Examination Board &copy; @DateTime.Now.Year <br />
       
    </div>
</div>
