<div class="footer">
    <div class="pull-right">
        Michael A.
    </div>
    <div>
        <strong>Copyright</strong> <br />    
        Civil Aviation Authority of the Philippines <br />
        Airmen Examination Board &copy; @DateTime.Now.Year
    </div>
</div>
