<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="#" class="navbar-brand">Airmen Examination Board</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="@Url.Action("Index", "TRTracking")"><i class="fa fa-address-card"></i> <span class="nav-label" data-i18n="nav.layouts">Main</span></a>        
                </li>  
                <li>
                    <a href="@Url.Action("ViewApplications", "TRTracking")"><i class="fa fa-file-text-o"></i> <span class="nav-label" data-i18n="nav.layouts">Test Reports</span></a>
                </li>  
                <li>
                    <a href="@Url.Action("BatchProcess", "TRTracking")"><i class="fa fa-tags"></i> <span class="nav-label" data-i18n="nav.layouts">Batch Processing</span></a>
                </li> 

            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="@Url.Action("Index", "Login")">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>